PORT=3001
NODE_ENV=production
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/coderoom
CLIENT_URL=https://your-frontend.onrender.com

ONECOMPILER_API_KEY=your_onecompiler_key
ONECOMPILER_API_URL=https://api.onecompiler.com/api/v1/run

JDOODLE_CLIENT_ID=your_jdoodle_client_id
JDOODLE_CLIENT_SECRET=your_jdoodle_client_secret
JDOODLE_API_URL=https://api.jdoodle.com/v1/execute